<div class="container">
  <nav class="navbar bg-dark border-bottom border-body">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: white;">
        Productos IKBO
      </a>
    </div>
  </nav>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar un producto</button>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalTwo" style="margin-left: 20px;">Agregar inventario</button>
  <button type="button" class="btn btn-primary" style="margin-left: 28vw;" (click)="getOrderExpiration()">Ordenar por vencimiento</button>
  <button type="button" class="btn btn-primary" style="margin-left: 20px;" (click)="getOrderQuantities()">Ordenar por cantidad</button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="col-form-label">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="selectedName">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Fecha de caducidad</label>
            <input type="date" class="form-control" id="dateInput" [(ngModel)]='selectedDate'>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Peso Gramos</label>
            <input type="number" class="form-control" id="dateInput" [(ngModel)]="selectedWeight">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="sendProduct()">Agregar producto</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Two-->
  <div class="modal fade" id="exampleModalTwo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo producto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="col-form-label">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="selectedName">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Fecha de caducidad</label>
            <input type="date" class="form-control" id="dateInput" [(ngModel)]='selectedDate'>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Peso Gramos</label>
            <input type="number" class="form-control" id="dateInput" [(ngModel)]="selectedWeight">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Cantidad</label>
            <input type="number" class="form-control" id="dateInput" [(ngModel)]="selectedQuantity">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Fecha de entrada</label>
            <input type="date" class="form-control" id="dateInput" [(ngModel)]='selectedDateEntry'>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Proveedor</label>
            <input type="text" class="form-control" id="dateInput" [(ngModel)]='selectedSupplier'>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Referencia de compra</label>
            <input type="text" class="form-control" id="dateInput" [(ngModel)]='selectedPurchase'>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="sendProduct()">Agregar producto</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Alert -->
  <div *ngIf="showAlert" class="alert alert-success alert-dismissible fade show" role="alert">
    Guardado con éxito
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <!-- Card -->
  <div class="row">
    <div class="col-2" *ngFor="let item of products[0]">
      <div class="card" style="width: 100%; margin-top: 10px;" >
        <img src="https://img.freepik.com/vector-premium/icono-caja-misteriosa-signo-interrogacion-dentro-caja-regalo-proximo-producto-raro-tienda-linea-marketing-redes-sociales_7102-768.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">{{ item.nombre }}</h5>
          <span [ngSwitch]="expirationTaken(item.fechaVencimiento)">
            <span *ngSwitchCase="1" style="color: green; font-weight: 900;">Vigente</span>
            <span *ngSwitchCase="2" style="color: orange; font-weight: 900;">Por vencer</span>
            <span *ngSwitchCase="3" style="color: red; font-weight: 900;">Vencido</span>
          </span>
          <h6>Fecha de caducidad: {{ item.fechaVencimiento | date:'dd/MM/yyyy' }}</h6>
          <h6>Peso U: {{ item.pesoUnidad | number }} Gr</h6>
          <h6>Cantidad: {{ item.cantidad }}</h6>
          <a href="#" class="btn btn-danger" (click)="deleteProduct(item._id)">Eliminar</a>
        </div>
      </div>
    </div>
  </div>

</div>